body {
  color:pink;
  background-color:rgba(34,125,170,1);
  font-family:verdana;
}
*{
  box-sizing: border-box;
}
img {
  border: 2px dashed #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 15%;
}
